@use '../abstracts//variables' as *;
.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  background-color: $color-primary !important;
  border-color: $color-primary !important;
}

.mat-mdc-checkbox .mdc-checkbox__ripple {
  display: none !important;
}

.mdc-checkbox__checkmark-path {
  color: $color-white !important;
}

.mat-mdc-select {
  min-width: 10rem !important;
  max-width: auto !important;
  border: 1px solid rgba($color-text, 0.5) !important;
  border-radius: 0.5rem !important;
  padding: 0.25rem 0.5rem !important;
  color: $color-text !important;
}
.mat-mdc-select-value {
  font-size: 0.75rem !important;
  color: $color-main !important;
}
