@use '../abstracts//variables' as *;
.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background {
  background-color: $color-primary !important;
  border-color: $color-primary !important;
}

.mat-mdc-checkbox .mdc-checkbox__ripple {
  display: none !important;
}

.mdc-checkbox__checkmark-path {
  color: $color-white !important;
}
