//colors
$color-primary: #fd7401;
$color-secondary: #1e2772;
$color-danger: #c90a0f;
$color-text: #404d61;
$color-main: #f1f3f6;
$color-white: #ffffff;

//sizes variables
$fs-xxsm: 0.25rem;
$fs-xsm: 0.5rem;
$fs-sm: 0.75rem;
$fs-md: 0.875rem;
$fs-default: 1rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 1.75rem;

//font weights
$fw-bold: 500;
$fw-extra-bold: 600;
