@use '../../abstracts/index' as *;

// Generate Font Size Utility Classes
@each $size, $value in $size-values {
  .fs-#{$size} {
    font-size: #{$value} !important;
  }
}

//font-weight utils

.fw-bold {
  font-weight: $fw-bold !important;
}

.fw-extra-bold {
  font-weight: $fw-extra-bold !important;
}
