<div class="d-flex flex-column gap-md p-xxl">
  <section class="header-section">
    <div
      class="d-flex justify-content-end align-items-center"
      *buttonPermission="'Create'"
    >
      <app-button [config]="createBtnConfig" (onClick)="createNew()">
      </app-button>
    </div>
    <div class="fs-xxl fw-extra-bold">Users List</div>
  </section>
  <section class="table-section">
    <ng-container *ngIf="dataset$ | async as dataset">
      <app-table [dataset]="dataset">
        <ng-template tableColumn header="Name" let-item>
          {{ item.name }}
        </ng-template>

        <ng-template tableColumn header="Email" let-item>
          {{ item.email }}
        </ng-template>
        <ng-template tableColumn header="Username" let-item>
          {{ item.username }}
        </ng-template>
        <ng-template tableColumn header="Status" let-item>
          <app-status-badge [label]="item.status"></app-status-badge>
        </ng-template>

        <ng-template tableColumn header="User type" let-item>
          <app-status-badge [label]="item.userType"></app-status-badge>
        </ng-template>

        <ng-template tableColumn header="Action" let-item>
          <div class="d-flex align-items-center gap-sm">
            <!-- <app-button [config]="viewBtnConfig" (onClick)="viewDetails()">
          </app-button> -->
            <app-button
              [config]="updateBtnConfig"
              (onClick)="updateFields(item.id)"
              *buttonPermission="'Update'"
            >
            </app-button>
            <app-button
              [config]="deleteBtnConfig"
              (onClick)="delete(item.id)"
              *buttonPermission="'Delete'"
            >
            </app-button>
          </div>
        </ng-template>
      </app-table>
      <app-pagination
        [pageSize]="pageSize"
        [count]="dataset.length"
        (changePage)="onPageChange($event)"
      ></app-pagination>
    </ng-container>
  </section>
</div>
