<div
  class="d-flex align-items-center justify-content-center min-h-full flex-column gap-l"
>
  <section
    class="logo-container d-flex flex-column gap-xxsm align-items-center"
  >
    <div class="d-flex align-items-center gap-xsm">
      <img src="assets/demo-icon.svg" />
      <div class="d-flex flex-column fw-bold">
        <span class="color-secondary fs-xxl">Users Role</span>
        <span>Management System</span>
      </div>
    </div>
    <div>Login into your account</div>
  </section>
  <section class="form-container w-50">
    <form
      class="d-flex flex-column gap-sm"
      [formGroup]="loginForm"
      (ngSubmit)="submit()"
    >
      <div>
        <app-input-text
          [control]="getControl('username')"
          label="Username"
          [placeholder]="'Enter Username'"
        ></app-input-text>
        <app-error-message
          [control]="getControl('username')"
          [errorMessages]="errorMessageConst.USERNAME"
        >
        </app-error-message>
      </div>
      <div>
        <app-input-text
          [control]="getControl('password')"
          label="Password"
          [placeholder]="'Enter Password'"
          [inputType]="'password'"
        ></app-input-text>
        <app-error-message
          [control]="getControl('password')"
          [errorMessages]="errorMessageConst.PASSWORD"
        ></app-error-message>
      </div>
      <app-button [config]="loginBtnConfig"> </app-button>
    </form>
  </section>
  <div class="section-divider w-50">
    <span>OR</span>
  </div>
  <section class="signup-container w-50">
    <app-button [config]="signupBtnConfig"></app-button>
  </section>
</div>
